parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$code of class Rad\\Error\\CodecException constructor expects int, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rad/Codec/JsonCodecHandler.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(mixed, mixed\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Collection/Collection.php

		-
			message: '#^Caught class Rad\\Config\\Exception not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Config/AutoConfig.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 1
			path: src/Rad/Config/AutoConfig.php

		-
			message: '#^Call to an undefined method Rad\\Database\\PDODatabaseHandler\:\:connect\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Rad/Database/PDODatabaseHandler.php

		-
			message: '#^PHPDoc tag @return with type bool is not subtype of native type int\|false\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Rad/Database/PDODatabaseHandler.php

		-
			message: '#^Call to method read\(\) on an unknown class Rad\\Utils\\CSV\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Etl/CSV_EtlExtractor.php

		-
			message: '#^Instantiated class Rad\\Utils\\CSV not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Etl/CSV_EtlExtractor.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Rad/Middleware/Middleware.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Rad/Model/Model.php

		-
			message: '#^Call to an undefined method ReflectionType\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Rad/Model/ModelDatabase.php

		-
			message: '#^Call to static method mapPhpTypeToSqlType\(\) on an unknown class Rad\\Utils\\SQLUtils\.$#'
			identifier: class.notFound
			count: 2
			path: src/Rad/Model/ModelDatabase.php

		-
			message: '#^Call to static method mapSqlTypeToPhpType\(\) on an unknown class Rad\\Utils\\SQLUtils\.$#'
			identifier: class.notFound
			count: 3
			path: src/Rad/Model/ModelDatabase.php

		-
			message: '#^Offset 2 on array\{string, ''KEY''\|''PRIMARY KEY''\|''UNIQUE KEY'', string, non\-empty\-string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Rad/Model/ModelDatabase.php

		-
			message: '#^Static method Rad\\Model\\ModelDatabase\:\:parseDocComment\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Rad/Model/ModelDatabase.php

		-
			message: '#^Access to an undefined property Rad\\Route\\TreeNodeRoute\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Rad/Route/TreeNodeRoute.php

		-
			message: '#^Method Rad\\Template\\SmartyTemplateCacheHandler\:\:delete\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Rad/Template/SmartyTemplateCacheHandler.php

		-
			message: '#^Method Rad\\Template\\SmartyTemplateCacheHandler\:\:purge\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Rad/Template/SmartyTemplateCacheHandler.php

		-
			message: '#^Method Rad\\Template\\SmartyTemplateCacheHandler\:\:write\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Rad/Template/SmartyTemplateCacheHandler.php

		-
			message: '#^Property Smarty\:\:\$cache_locking \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Template/SmartyTemplateHandler.php

		-
			message: '#^Property Smarty\:\:\$config_dir \(array\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Template/SmartyTemplateHandler.php

		-
			message: '#^Property Smarty\:\:\$debugging \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Template/SmartyTemplateHandler.php

		-
			message: '#^Property Smarty\:\:\$force_compile \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Template/SmartyTemplateHandler.php

		-
			message: '#^Property Smarty\:\:\$template_dir \(array\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Template/SmartyTemplateHandler.php

		-
			message: '#^Property Rad\\Utils\\File\\File\:\:\$source \(string\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Utils/File/File.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/File/FileDownloader.php

		-
			message: '#^Parameter \#3 \$data_compare_func of function array_uintersect_assoc expects callable\(mixed, mixed\)\: int, Closure\(mixed, mixed\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/Filter.php

		-
			message: '#^Caught class Rad\\Utils\\Exception not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Utils/Image.php

		-
			message: '#^Function resize not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Rad/Utils/Image.php

		-
			message: '#^Parameter \#1 \$width of function imagecreatetruecolor expects int\<1, max\>, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/Image.php

		-
			message: '#^Parameter \#7 \$dst_width of function imagecopyresampled expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/Image.php

		-
			message: '#^Property Rad\\Utils\\Image\:\:\$width \(int\) does not accept float\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Rad/Utils/Image.php

		-
			message: '#^Instantiated class Rad\\Utils\\RadException not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^PHPDoc tag @throws with type ErrorException\|Rad\\Utils\\ErrroException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Parameter \#1 \$stream of function fclose expects resource, bool given\.$#'
			identifier: argument.type
			count: 3
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Parameter \#1 \$stream of function fflush expects resource, bool given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Parameter \#1 \$stream of function fread expects resource, bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Parameter \#1 \$stream of function fwrite expects resource, bool given\.$#'
			identifier: argument.type
			count: 2
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Parameter \#2 \$data of function fwrite expects string, bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Property Rad\\Utils\\SFTPConnection\:\:\$host is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^Throwing object of an unknown class Rad\\Utils\\RadException\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rad/Utils/SFTPConnection.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Rad/Worker/Worker.php
